@charset "utf-8";
/* Background color for the whole page */

body {
    background-color: whitesmoke;
}

/* Name for 'New Chapter' */

.center {
    font-family: monospace;
    font-size: 35px;
    letter-spacing: 15px;
    color: rgb(128, 62, 0);
}

/* Description for 'New Chapter' */

.description {
    font-size: 18px;
    color: rgb(179, 89, 0);
}

/* Navigation Bar */

.navbar-nav>li {
    padding-left: 13px;
    padding-right: 13px;
}

header ul li {
    background-color: lightgray;
    padding: 10px 0;
    transition: 0.5s;
}

header ul li a {
    color: #fff;
    font-size: 18px;
}

header ul li:hover {
    background: rgb(255, 228, 196);
}

.navbar-brand {
    color: #000;
}

/* Displaying brand logo and icon*/

@media (max-width:991px) {
    nav.navbar {
        background: lightgrey;
    }
}

/* Background for menu */

.menu {
    padding: 20px;
    width: 80%;
    max-width: 1100px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);
}

/* Title for Menu */

.title {
    font-weight: 400;
    margin: 1em 0 0.5em;
    color: #B22222;
    font-size: 3em;
    font-family: 'Love Ya Like A Sister', cursive;
}

.cardInner {
    padding: 30px;
    background-color: transparent;
    width: 250px;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/*Flip image when hovering on it */

.column:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 270px;
    height: 230px;
    backface-visibility: hidden;
}

.cardFront img {
    border-radius: 30px;
}

.cardBack {
    background-color: rgb(205, 133, 63);
    color: white;
    transform: rotateY(180deg);
    width: 270px;
    height: 230px;
    border-radius: 30px;
}

.cardBack h2 {
    font-family: 'Special Elite', cursive;
    font-size: 1.4em;
    margin: 20px;
}

.cardBack p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

footer {
    padding: 3px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #D2691E);
    color: white;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}