@charset "utf-8";
/* Background color for the whole page */

body {
    background-color: whitesmoke;
}

/* Name for 'New Chapter' */

.center {
    font-family: monospace;
    font-size: 35px;
    letter-spacing: 15px;
    color: rgb(128, 62, 0);
}

/* Description for 'New Chapter' */

.description {
    font-size: 18px;
    color: rgb(179, 89, 0);
}

/* Navigation Bar */

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}

header ul li {
    background-color: lightgray;
    padding: 10px 0;
    transition: 0.5s;
}

header ul li a {
    color: #fff;
    font-size: 17px;
}

header ul li:hover {
    background: rgb(255, 228, 196);
}

.navbar-brand {
    color: #000;
}

@media (max-width:991px) {
    nav.navbar {
        background: lightgrey;
    }
}

/* SlideShow */

/* Position the image container (needed to position the left and right arrows) */

.innerContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.slides img {
    vertical-align: middle;
}

/* Responsive Image */

.object-fit {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.row {
    transition: 1.0s;
}

/* Background for the card */

.card {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);
    transition: 1.0s;
}

.card p {
    padding: 0 20px 0;
    font-family: 'Mallanna', sans-serif;
}

.card h2 {
    padding: 0 20px 0;
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    letter-spacing: 4px;
    color: hsl(5, 100%, 20%);
}

.card h3 {
    padding: 0 20px 0;
    font-family: 'Merienda', cursive;
    font-size: 23px;
}

.span {
    width: 10px;
    padding-right: 15px;
    font-size: 36px;
}

/* Table of events */

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: rgb(255, 228, 196, .5);
}

/* Footer */

footer {
    padding: 3px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #D2691E);
    color: white;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}